@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="touch_setion">
        <div class="box_main">
            <div class="image_2">
                <h4 class="who_text active">Who am i</h4>
            </div>
        </div>
        <div class="box_main">
            <div class="image_3">
                <h4 class="who_text">Get In Touch</h4>
            </div>
        </div>
        <div class="box_main">
            <div class="image_4">
                <h4 class="who_text">Facebook</h4>
            </div>
        </div>
    </div>
</div>
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="about_img"><img src="adminassets/images/about-img.png"></div>
                <div class="like_icon"><img src="adminassets/images/like-icon.png"></div>
                <p class="post_text">Post By : 07/13/2023</p>
                <h2 class="most_text">Most Awesome Blue Lake With Snow <br>Mountain</h2>
                <p class="lorem_text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line</p>
                <div class="social_icon_main">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="adminassets/images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="adminassets/images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="adminassets/images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="image_5"><img src="adminassets/images/img-5.png"></div>
                <h1 class="about_taital">About Us</h1>
                <p class="about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                <div class="read_bt_1"><a href="#">Read More</a></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->
<!-- blog section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="about_img"><img src="adminassets/images/color.png"></div>
                <div class="like_icon"><img src="adminassets/images/like-icon.png"></div>
                <p class="post_text">Post By : 07/15/2023</p>
                <h2 class="most_text">Colorfully Modernizes Herman Miller's <br>River</h2>
                <p class="lorem_text">IF Ray and Charies Eames were alive today. Danish design brand HAY's co-founders Mette and Rolf Hay would undoubtedly make every effort to work with their historical design antecedents. The parallels between the married couples seem numerous.Each wo...</p>
                <div class="social_icon_main">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="adminassets/images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="adminassets/images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="adminassets/images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="about_main">
                    <h1 class="follow_text">CONNECT & FOLLOW</h1>
                    <div class="follow_icon">
                        <ul>
                            <li><a href="#"><img src="adminassets/images/fb-icon-1.png"></a></li>
                            <li><a href="#"><img src="adminassets/images/twitter-icon-1.png"></a></li>
                            <li><a href="#"><img src="adminassets/images/linkedin-icon-1.png"></a></li>
                            <li><a href="#"><img src="adminassets/images/instagram-icon-1.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog section end -->
<!-- newsletter section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-sm-12">
                <div class="newsletter_main">
                    <h1 class="newsletter_taital">NEWSLETTER</h1>
                    <div class="input_box">
                        <input type="text" class="input_text" placeholder="Enter Your email" name="Enter Your email">
                        <input type="text" class="input_text" placeholder="Your name" name="Your name">
                        <div class="send_text"><a href="#">Subscribe</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter section end -->
<!-- recent section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">

            
        </div>
    </div>
</div>
<!-- recent section end -->
<!-- tag section start -->

<!-- tag section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">1</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">2</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">3</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">4</li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                            <div class="contact_img"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mail_section">
                    <h1 class="contact_taital">Contact us</h1>
                    <input type="" class="email_text" placeholder="Name" name="Name">
                    <input type="" class="email_text" placeholder="Phone" name="Phone">
                    <input type="" class="email_text" placeholder="Email" name="Email">
                    <textarea class="massage_text" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                    <div class="send_bt"><a href="#">send</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section end -->
